@using MVC_Codes_I_Learned.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Categories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>CATEGORY ID</th>
        <th>CATEGORY NAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>ALERT</th>
    </tr>
    <tbody>
        @foreach (var ctgry in Model)
        {
        <tr>
            <td>@ctgry.CategoryID</td>
            <td>@ctgry.CategoryName</td>
            <td><a href="/Category/Delete/@ctgry.CategoryID" class="btn btn-danger"> DELETE </a></td>
            <td><a href="/Category/GetCategory/@ctgry.CategoryID" class="btn btn-success"> UPDATE </a></td>
            <td>@Html.ActionLink("DELETE BUTTON", "Delete", new { id = ctgry.CategoryID }, new { @class = "btn btn-warning", onclick = "return confirm('Are you sure ?')" })</td>

        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Category/NewCategory/" class="btn btn-primary">NEW CATEGORY</a>
