
@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>NewCategory</h2>

@*Butona tıklandığı zaman arka tarafa post işlemi gerçekleşecek ve veriler taşınacak.*@
<form class="form-group" method="post">
    <div>
        <label>Category Name</label>
        @*Name veri tabanıyla aynı olmalı*@
        <input type="text" class="form-control" name="CategoryName" />
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info"> Category Add</button>
    </div>
</form>